.customContainer {
  background-color: #fefefe;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.icon {
  padding: 10px;
  background: rgb(38, 134, 230);
  color: white;
  min-width: 50px;
  text-align: center;
}

.form-group {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}